:root{
    --background-primary-color: #F3F5FC;
    --background-secondary-color: #FFFFFF;
    --text-primary-color: #0A3871;
    --text-secondary-color: #495057;
    --text-tertiary-color: #343A40;
    --boton-primary-color: #0A3871;
    --boton-secondary-color: #D8DFE8;
}